* {
  margin: 0;
}

body {
  background-image: url('assets/image-overlay.jpg');
  background-size: cover;
  color: #000080;
  display: flex;
  font-family: 'Montserrat';
}

h1,
h2,
.take-your-turn,
.player-one-heading,
.player-two-heading {
  font-size: 5vw;
  font-weight: 500;
}

h2,
.player-one-heading,
.player-two-heading {
  font-weight: 400;
  /* text-shadow: 2px 1px 2px #FFA07A; */
}

.left-side {
  text-shadow: 2px 1px 2px #F08080;
}

.right-side {
  text-shadow: 2px 1px 2px #228B22;
}

.columns {
  display: flex;
  width: 100vw;
}

.center-player-heading,
.center-top {
  margin: auto;
  text-shadow: 3px 2px 2px #FFA07A;
}

.left-side,
.right-side,
.center {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.left-side,
.right-side {
  align-items: center;
  height: 100vh;
  width: 35vw;
}

.leaf {
 font-size: 10vw;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-boxes {
  align-content: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: 8vw;
  height: 22vh;
  justify-content: center;
}

.four {
  border: 6px solid #191970;
}

.one,
.seven {
  border-left: 6px solid #191970;
  border-right: 6px solid #191970;
}

.three,
.five {
  border-bottom: 6px solid #191970;
  border-top: 6px solid #191970;
}

.seven {
  margin-bottom: 1vh;
}

.one {
  margin-top: 1vh;
}

.three{
  margin-left: 1vh;
}

.five {
  margin-right: 1vh;
}

.hidden {
  display: none;
}

.disable-click {
  pointer-events: none;
}

.enable-click {
  pointer-events: all;
}
