img {
  height: 10%;
  width: 10%;
}

body {
  display: flex;
}

main {
  display: flex;
}

h1 {

}

h2 {
  /* padding-left: 48%; */
}

.columns {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.center-top {
  background-color: #F5FFFA;
  display: flex;
  align-items: center;
  height: 35%;

}

.center-player-heading {
  font-size: 50px;
  margin: auto;
}

.left-side,
.right-side,
.center {

  display: flex;
  flex-direction: column;
  width: 50%;

}

.left-side,
.right-side {
  background-color: #B0E0E6;
  width: 25vw;
  align-items: center;
}

.leaf {
 font-size: 100px;
}

.player-one-heading,
.player-two-heading{

}

.game-grid {
  background-color: #6B8E23;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-boxes {

border: 2px solid;
border-radius: 2px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
height: 25vh;
width: 100%;
align-content: center;
justify-content: center;

}

.zero,
.three,
.six {
  border-left: none;
}

.two,
.five,
.eight {
  border-right: none;
}

.zero,
.one,
.two {
  border-top: none;
}

.six,
.seven,
.eight {
  border-bottom: none;
}

.hidden {
  display: none;
}
